/* DRKBLUE:2b3a42 MEDBLUE:3f5765 LBLUE:bdd4de ORANGE:ff530d */

@charset "UTF-8";

* {margin: 0; padding: 0;}

body {
    background-color: #fff;
    font-family: 'karla', sans-serif;
}

a:link, a:visited {
    text-decoration: none;
    color: #333;
}
a:hover {
    color: #ff530d;
}

.boxStyle {
    border: 4px solid #2b3a42;
    background-color: white;
}
h2 {
    font-family: 'source sans pro';
}
/* WELCOME BETA MESSAGE */

section#beta {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #bdd4de;
    text-align: center;
    display: inline-block;
    font-size: 2em;
}
section#beta h3 {
    margin: 90px 0 30px 0;
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
}
section#beta p {
    padding: 0 90px 0 90px;
    color: #3f5765;
}

div#betaOK, div#signUp {
    min-width: 100px;
    border: 3px solid #2b3a42;
    border-radius: 30px;
    display: inline-block;
    margin-top: 1.2em;
    color: #2b3a42;
    padding: 3px;
    cursor: pointer;
    text-align: center;
}
div#betaOK:hover {
    border-color: #fff;
    color: #ff530d;
}

/* TASK MANAGER HEADER */

img#taskHeader {
    display: block;
    margin: 100px auto 0 auto; 
}

/* WELCOME INFO BOXES ??*/

section#welcomeInfo {
    width: 836px;
    margin: 40px auto 20px auto;
    
}
section#welcomeInfo article{
    display: inline-table;
    border: 3px solid #3f5765;
    width: 230px;
    padding: 40px 15px;
    text-align: center; 
    min-height: 135px;
    margin-right: 10px;
    color: #2b3a42;
}
section#welcomeInfo article:last-child {
    margin-right: 0;
}
section#welcomeInfo article h4 {
    font-size: 1.3em;
    margin-bottom: 10px;
    text-transform: uppercase;
}

/* SIGN UP BUTTON */

div#signUp {
    display: block;
    margin: 0 auto;
    font-size: 1.2em;
    width: 100px;
}
div#signUp:hover {
    color: #bdd4de;
}

/* SIGN IN */

aside#signInBox {
    position: absolute;
    right: 20px;
    bottom: 95px;
    padding: 10px;
}
input[type=submit] {
    margin-top: 10px;
    padding: 3px 6px 3px 6px;
    border: 2px solid #2b3a42;
    font-family: 'karla', sans-serif;
    background-color: white;
    cursor: pointer;
}
input[type=submit]:hover {
    border-color: #ff530d;
}
input[name=userName] {
    margin-bottom: 5px;
}
input[type=text]:focus {
    outline: none;
}

div#signInTRI {
    position: absolute;
    right: 10px;
    bottom: -20px;
    width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid #2b3a42;
}

/* MAIN FOOTER */

footer {
    height: 30px;
    width: 100vw;
    background-color: #bdd4de;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    text-align: center;
}

footer div#userPic{
    display: inline-block;
    float: right;
    height: 50px;
    width: 50px;
    border: 4px solid #2b3a42;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    top: -30px;
    margin-right: 30px;
}

footer div.menuIcon {
    display: inline-block;
    float: left;
    width: 30px;
    height: 30px;
    border: 3px solid #3f5765;
    border-radius: 30px;
    overflow: hidden;
    background-color: white;
    margin-right: 5px;
    margin-top: -4px;
    position: relative;
    cursor: pointer;
}
footer i {
    margin-top: 8px;
    color: #2b3a42;
}
 /* BOARDS CENTER IN FOOTER */
footer h2 {
    font-family: 'karla', sans-serif;
    color: white;
    letter-spacing: 1px; 
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.4em;
    margin-top: 3px;
}
footer h2:focus {
    outline: none;
}
footer em {
    font-style: normal;
    color: #3f5765;
    visibility: hidden;
}
footer em:hover {
    color: #ff530d;
}

div.menuIcon:hover, div#userPic:hover {
    border-color: #ff530d;
}

/* MAIN MENUS */

.menus {
    position: absolute;
    bottom: 70px;
    width: 150px;
}
.menus ul {
    line-height: 200%;
    list-style-type: none;
}
.menus li {
    border-bottom: 3px solid #2b3a42;
    padding: 5px 5px 5px 10px;
}
.menus li:last-child {
    border-bottom: none;
}

.menus li:hover {
    color: #ff530d;
    cursor: pointer;
}

div.mainMenuTRI {
    position: absolute;
    left: 0px;
    bottom: -20px;
    width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid #2b3a42;
}

menu#main {
    left: 10px;
}
menu#main li:first-child {
    padding-top: 15px;
    cursor: default;
}
menu#widgetManager {
    left: 50px;
}

menu#widgetManager li:first-child {
    font-family: 'gotham_bookregular';
    line-height: 1em;
    font-size: 1.3em;
    padding: 15px 10px 10px 15px;
    color: #3f5765; 
    cursor: default;
}
menu#widgetManager strong {
    font-family: 'gotham_blackregular';
    font-size: 1.4em;
    margin-left: -5px;
    color: #2b3a42;
}
menu.menus i {
    color: #2b3a42;
    margin-right: 7px;
}
/* BOARDS MENU */


/* WIDGETS */
section#widgets {
    width: 100%;
    height: 92vh;
}

section#widgets article {
    position: absolute;
}

/* STICKY NOTE */
article.stickyNote {
    width: 250px;
    min-height: 150px;
    background-color: #ffeeb7;
    bottom: 100px;
    right: 30%;
}
article.stickyNote p {
    padding: 10px;
    font-size: .9em;
}

article.stickyNote menu {
    width: 100%;
    height: 15px;
    background-color: #ffe797;
}
article.stickyNote menu:hover {
    cursor: move;
}
article.stickyNote menu div.closeButton {
    width: 9px;
    height: 9px;
    border-radius: 9px;
    left: 3px;
    top: -3px;
    margin-right: 4px;
}
.minButton , .closeButton {
    background-color: #fff;
    display: inline-block;
    position: relative;
}
.minButton {
    width: 10px;
    height: 4px;
    border-radius: 4px;
    top: -5px;
}
article.stickyNote menu div:hover {
    background-color: #ff530d;
    cursor: pointer;
}

/* TODO LIST */
article.todo {
    background-color: #a38888;
    width: 280px;
    height: auto;
    right: 30px;
    top: 30px;    
}
article.todo h4 {
    text-align: center;
    font-size: 1.5em;
    padding: 15px;
    color: white;
    letter-spacing: 1px;
    cursor: move;
}
article.todo ul {
    padding-bottom: 10px;
    padding-left: 10px;
}
article.todo li {
    cursor: ns-resize;
    margin: 15px;
    padding-left: 15px;
}
article.todo i {
    color: white;
    margin-right: 8px;
}
article.todo i:hover {
    color: #fff;
    cursor: pointer;
}
article.todo input[type=text] {
    width: 85%
}


/* CONTENTEDITABLE FOCUS NONE*/

article.stickyNote p:focus, article.todo h4:focus {
    outline: none;
}

/* DRKBLUE:2b3a42 MEDBLUE:3f5765 LBLUE:bdd4de ORANGE:ff530d */

/* GOTHAM FONT */
@font-face {
    font-family: 'gotham_blackregular';
    src: url('fonts/gotham-black-webfont.eot');
    src: url('fonts/gotham-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gotham-black-webfont.woff2') format('woff2'),
         url('fonts/gotham-black-webfont.woff') format('woff'),
         url('fonts/gotham-black-webfont.ttf') format('truetype'),
         url('fonts/gotham-black-webfont.svg#gotham_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham_bookregular';
    src: url('fonts/gotham-book-webfont.eot');
    src: url('fonts/gotham-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gotham-book-webfont.woff2') format('woff2'),
         url('fonts/gotham-book-webfont.woff') format('woff'),
         url('fonts/gotham-book-webfont.ttf') format('truetype'),
         url('fonts/gotham-book-webfont.svg#gotham_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
